<h3>Author's Details</h3>
<div *ngIf="author">

    <h2 id = "authorsTitle">{{author.firstName | uppercase}} {{author.lastName | uppercase}} Details</h2>
    <div id = "authorsId"><span>ID: </span>{{author.id}}</div>
    <label>First Name: 
      <input name="FN"  [(ngModel)]="author.firstName" placeholder="name">
    </label> 
    <div>     
      <img id="imageAuthors" src={{author.image}} alt="some image">
    </div>
    <button id = "goBackBtn" (click)="goBack()">go back</button> 


    
    