<h2>My Recipes</h2>

<div>
  <label>Recipe name:
    <input #recipeName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(recipeName.value); recipeName.value=''">
    add
  </button>
</div>

<ul class="recipes">
  <li *ngFor="let recipe of recipes">
    <a routerLink="/recipedetails/{{recipe.id}}">
      <span class="badge">{{recipe.id}}</span> {{recipe.name}}
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(recipe)">x</button>
  </li>
</ul>
